<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nie.secondhub.mapper.GoodsMapper">
    <update id="updateFavoriteCount">
        UPDATE goods SET favorite_count = favorite_count + #{delta} WHERE id = #{goodsId}
    </update>
    
    <update id="addFavoriteCount">
        UPDATE goods SET favorite_count = favorite_count + 1 WHERE id = #{goodsId}
    </update>
    
    <update id="reduceFavoriteCount">
        UPDATE goods SET favorite_count = favorite_count - 1 WHERE id = #{goodsId} AND favorite_count > 0
    </update>
</mapper>